@import "tailwindcss";

:root {
  --beige-color: #d8cca3;
  --brown-color: #2c2c2c;
}

button {
  cursor: pointer;
}

.slick-prev:before,
.slick-next:before {
  color: black !important; /* force color */
  font-size: 24px !important; /* optional */
  z-index: 50 !important;
}
